runtime: nodejs10

env_variables:
  GGNEXT_URL: "$GGNEXT_PROD_URL"
  GGNEXT_MONGODB_URI: "$GGNEXT_PROD_MONGODB_URI"
  GGNEXT_MONGODB_DBNAME: "$GGNEXT_PROD_MONGODB_DBNAME"
  GGNEXT_SESSION_SECRET: "$GGNEXT_PROD_SESSION_SECRET"
  GGNEXT_CLIENT_ID: "$GGNEXT_PROD_CLIENT_ID"
  GGNEXT_CLIENT_SECRET: "$GGNEXT_PROD_CLIENT_SECRET"
  GGNEXT_PROD: "GGNEXT_PROD"
